# Node.js
node_modules/
dist/
out/
build/
.npm/
.env
.env.local

# IDEs & Editors
.vscode/
.vs/
*.user
*.suo

# Compiled binaries and debug symbols
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk

# Rust / Tauri
**/target/
**/gen/
**/*.rs.bk

# Temp & Log files
*.log
*.tmp
temp/

# OS system files
Thumbs.db
Desktop.ini
.DS_Store

# Ngoại lệ cho Apps và Games
!Basic/Apps/*.exe
!Basic/Games/*.exe
